h1{
    text-align: center;
}
#r1{
    background-color: rgba(0, 139, 139, 0.717);
    border-radius: 50px 25%;
    border: 5px solid coral;
}
.y{
    
    border: 30px solid salmon;
    padding: 10px;
    border-image-source: url('new.png');
    border-image-slice: 200;
    border-image-repeat:  repeat;
    width: 400px;
    height: 100%;
    background-color: white;
    border-radius: 50px 15%;
    background-position: 50%;
    
}
#a{
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 800px;
    background-color: #fff;
    color: black;
}
.b{
    height:700px;
    width: 800px;
    background: yellow;
    margin: 10px;
    border: 5px solid rgba(207, 81, 207, 0.808);
    border-radius: 10px 15%;
    box-shadow: 5px 10px peru;

}
span{
    text-align: center;
    text-shadow: 2px .5px;
    font-size: x-large;
    overflow-wrap: break-word;
}