h1{
    text-align: center;
}
#r1{
    background-color: rgba(0, 139, 139, 0.717);
    border-radius: 50px 25%;
    border: 5px solid coral;
}
.y{
    background-color: rgba(216, 112, 147, 0.598);
    border: 10px solid salmon;
    padding: 10px;
    border-image-source: url('download.png');
    border-image-slice: 15%;
}